:root {
    /* Colores base */
    --primary-dark: #000000; 
    --primary-medium: #222121; 
    --primary-light: #ffffff; 
    --secondary-dark: #373636; 
    --neutral-light: #f0e8e0;    
    --neutral-medium: #d6baaa;   
    --neutral-dark: #5b5151; 
    --secondary-light: #fafafa; 
    --beige-medium: #b38f7e
    
    /* Colores de acento */
    --accent-orange: #faa85e; 
    /* --accent-mint: #e4f1e4; */ 
    --accent-lavender: #7c5295;   
    --accent-mint: #d1e6d1;       
    /* --accent-lavender: #8fa3ff; */
    
    /* Colores de texto */
    --text-primary: #000000;
    --text-secondary: #373636;

    /* Colores hero y tarjetas*/
    --hero-gradient-start:#222121 ; 
    --hero-gradient-end:#6e6e6e ;

    --card-hoover-background: #d1e6d1;
    
    --card-background-1: #8ea2ff; 
    --card-hover-background-1: #d6baaa; 
    --card-button-1: #d8e3b7;
    --card-text-button-1: #242323;

    --card-background-2: #8ea2ff; 
    --card-hover-background-2: #d6baaa; 
    --card-button-2: #d8e3b7;
    --card-text-button-2: #242323;

    --card-background-1: #8ea2ff; 
    --card-hover-background-1: #d6baaa; 
    --card-button-1: #d8e3b7;
    --card-text-button-1: #242323;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: var(--primary-light);
    color: var(--text-primary);
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  /* Header */
  header {
    position: sticky;
    top: 0;
    background: var(--primary-light);
    border: 2px solid var(--secondary-dark);
    border-radius: 30px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    z-index: 1000;
    margin: 1rem auto 2rem;
    max-width: 1300px;
    width: 95%;
    min-height: 60px;
    padding: 0;
  }
  
  header h1 {
    font-size: 2rem; 
    padding: 0.3rem 0.8rem;
    color: var(--primary-dark);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Menú principal horizontal */
  .nav-links {
    position: relative;
  }
  
  .nav-links ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: var(--primary-dark);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 0.3rem 0.8rem;
    font-size: 1.1rem;
  }
  
  .nav-links a:hover {
    color: var(--accent-lavender);
  }
  
  /* Menú hamburguesa */
  .menu-checkbox {
    display: none;
  }
  
  .menu-toggle {
    display: none;
    font-size: 2rem;
    color: var(--accent-lavender);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background 0.3s;
  }
  
  .menu-toggle:hover {
    background: rgba(255,255,255,0.2);
  }
  
  /* Hero Section */
  .hero {
    background: linear-gradient(180deg, var(--hero-gradient-start), var(--hero-gradient-end));
    color: var(--primary-light);
    text-align: center;
    padding: 8rem 1rem;
  }
  
  .hero h2 {
    font-size: 3rem;
    margin-bottom:1rem;
  }
  
  .hero p{
    font-size: 1.25rem
  }
  
  /* Secciones */
 /*  .secciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 4rem 1rem;
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
  }  */
  .secciones {
    display: block; 
    max-width: 1300px;
    width: 95%;
    margin: 0 auto 2rem;
    padding: 2rem 0;
  }

  .seccion-1 {
    background-color: var(--secondary-light); 
    padding: 5rem 0;
  }

  .seccion-2 {
    background-color: var(--secondary-light); 
    padding: 5rem 0; 
  }

  .seccion-3 {
    background-color: var(--secondary-light); 
    padding: 5rem 0; 
  }

  .seccion-4 {
    background-color: var(--secondary-light); 
    padding: 5rem 0; 
  }

  .container-card {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto; 
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .card {
    /*background-color: var(--card-background-1);*/
    background-color: var(--secondary-light); 
    border: 2px solid var(--accent-mint);
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    text-align: center;
    min-height: 400px; /* Altura mínima */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* 100% del contenedor menos 2rem de margen por lado */
    margin: 2rem auto; /* Margen vertical y centrado horizontal */
    box-sizing: border-box; /* Incluye padding en el ancho total */
  }
  
  /*Hover de las tarjetas*/
  .card-1:hover {
    transform: translateY(-5px);
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border-color: var(--accent-lavender);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .card-2:hover {
    transform: translateY(-5px);
    background-color: var(--card-hover-background);
    color: var(--primary-dark);
    border-color: var(--accent-lavender);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .card-3:hover {
    transform: translateY(-5px);
    background-color: var(--card-hover-background);
    color: var(--primary-dark);
    border-color: var(--accent-lavender);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }

  .card-4:hover {
    transform: translateY(-5px);
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border-color: var(--accent-mint);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  }
  
  .card h3 {
    color: var(--primary-dark);
  }
  
  .card p {
    color: var(--text-secondary);
  }
  

  .card a {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--accent-lavender);
    color: var(--primary-light);
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
 /*  .card a:hover {
    background-color: var(--accent-mint);
    transform: scale(1.05);
  } */
  
  /*'Imagen' en tarjetas*/
  .imagen-tarjeta {
    display: block;
    font-size: 1.5rem; 
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  /* Colores específicos para cada tarjeta */
    .card-1 { 
    width: 100%; /* Ocupará el 100% del container-card */
    max-width: none; 
    margin: 0 ; /* Centrado horizontal dentro del container-card */
  }
  
  .card-1 a {
    background-color: var(--card-button-1);
    color: var(--card-text-button-1);
  }
  
  .card-1 a:hover {
    background-color: var(--card-hover-background-1); /*Color del hover del botón*/
    border-color: #697bff; /* Azul oscuro */
    color: var(--primary-dark); /*Color de la letra del botón*/
  }
  
  .card-2 {
    width: 100%; 
    max-width: none; 
    margin: 0 
  }
  
  .card-2 a {
    background-color: #b38f7e;
    color: var(--primary-light);
  }
  
  .card-2 a:hover {
    background-color: #f5f5dc; 
  }
  
  .card-3 {
    width: 100%;
    max-width: none; 
    margin: 0 ; 
  }
  
  .card-3 a {
    background-color: #e74c3c; /* Rojo oscuro */
    color: var(--primary-light);
  }
  
  .card-3 a:hover {
    background-color: #f1c40f; /* Amarillo */
  }

  /*Container para la tarjeta 4, en caso de querer cambiar el ancho*/
  /* .card-4 container {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto 2rem; 
    padding: 0 1rem;     
  } */
  
   .card-4 {
    border: 2px solid var(--accent-lavender); 
    color: var(--primary-light);
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    height: auto;
    text-align: center;
    margin: 0 auto 2rem;

  } 
  
  .card-4 a {
    background-color: var(--accent-lavender); 
    color: var(--primary-medium);
  }
  
  .card-4 a:hover {
    background-color: #ffc107;
  }

  /* Footer */
  footer {
    background: var(--primary-light);
    padding: 2rem 0 0rem;
  }
  
  .copyright {
    background: var(--primary-dark);
    border: 2px solid var(--primary-medium);
    color: var(--accent-lavender);
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto 2rem;
  }
  
  .aviso-legal {
    font-size: 0.85rem;
    color: var(--text-secondary);
    line-height: 1.7;
    border-top: 1px solid var(--secondary-dark);
    padding: 1rem 0 ;
  }
  
  /* Responsive Celular*/
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background: var(--primary-light);
      padding: 1rem;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      transform: translateY(-10px);
      transition: transform 0.3s;
    }
  
    .nav-links ul {
      flex-direction: column;
      gap: 1rem;
    }
  
    /* Ocultar menú por defecto en celular */
    .nav-links {
      display: none;
    }
  
    /* Mostrar menú cuando el botón está marcado*/ 
    #menu-toggle:checked ~ .nav-links {
      display: block;
      transform: translateY(0);
    }
  
    /* Efecto de fondo oscuro */
    #menu-toggle:checked ~ .nav-container::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      z-index: -1;
    }
  
    .secciones {
      grid-template-columns: 1fr;
      padding: 2rem 0;
    }
  }
  
  
  /* Responsive Tablet */
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      padding: 0 2rem;
    }
  
    .hero {
      padding: 3rem 2rem;
    }
  
    .secciones {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  
    .card {
      padding: 1.5rem;
    }
  
    .nav-links ul {
      gap: 1rem;
    }
  
    .nav-links a {
      font-size: 1rem;
    }
  }

  /* Contacto*/
  .contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
  }

  .contacto .title{
    font-size: 2rem;
    color: var(--primary-dark);
    text-align: left;
  }

  .formulario {
    width: 40%;
    height: 50%;
    font-size: 1.5rem;
    margin-top: 2%;
    margin-left: 5%;
    padding: 1%;
    text-align: justify;
    border-bottom: --hero-gradient-start 1px solid;
    line-height: 2rem;
  }

  label {
    font-size: 1.1rem;
    font-weight: bold;
    color:var(--hero-gradient-start);
    margin-top: 1%;
    display: inline-block;
  }

  .input {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 1%;
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: var(--primary-dark) 2.5px solid;
    background-color: transparent;
    color: #083840;
  }

  .input:hover{
    border-color: var(--neutral-medium);
    transition: background-color 0.3s;
  }

  .button {
    background-color: #4A4A4A;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 3%;
  }

  .botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
  }

  .button:hover {
    background-color: var(--card-background-1);
    transition: 0.3s ease;
  }
